.zarzadzaj-container {
    padding: 20px;
    position: relative;
  }
  
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .home-icon {
    width: 40px;
    height: 40px;
  }
  
  h1 {
    text-align: center;
    margin-top: 80px; /* Aby tytuł nie zasłaniał się przez ikonę */
  }
  